/target/

.gitignore
.storage

#STUB mode db
/stub_db/

# IDEA Ignores
*.iml
*.ipr
*.iws
.idea

#compiled java classes
*.class

# Gradle Ignores
.gradle
build

src/main/java/epam/auto/iso8583/messenger/ServMain.java
/pom.xml
**/*.csv
**/*.log


data/H2H/test.json
#lib/*.jar
*.jar
fsd/*

